In [37]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [38]:
%sql ibm_db_sa://cqp94711:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB?security=SSL

'Connected: cqp94711@BLUDB'

In [46]:
%%sql
SELECT PB.NAME_OF_SCHOOL, CD.COMMUNITY_AREA_NAME, PB.AVERAGE_STUDENT_ATTENDANCE
FROM PUBLIC_SCHOOLS PB 
LEFT JOIN CENSUS_DATA CD
ON PB.COMMUNITY_AREA_NUMBER=CD.COMMUNITY_AREA_NUMBER 
WHERE CD.HARDSHIP_INDEX=98

 * ibm_db_sa://cqp94711:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
Done.

[('George Washington Carver Military Academy High School', 'Riverdale', '91.60%'),
 ('George Washington Carver Primary School', 'Riverdale', '90.90%'),
 ('Ira F Aldridge Elementary School', 'Riverdale', '92.90%'),
 ('William E B Dubois Elementary School', 'Riverdale', '93.30%')]

In [47]:
%%sql
SELECT CR.CASE_NUMBER, CR.PRIMARY_TYPE, CE.COMMUNITY_AREA_NAME
FROM CRIME_DATA CR
LEFT JOIN CENSUS_DATA CE
ON CR.COMMUNITY_AREA_NUMBER = CE.COMMUNITY_AREA_NUMBER
WHERE CR.LOCATION_DESCRIPTION LIKE '%SCHOOL%'

 * ibm_db_sa://cqp94711:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
Done.

[('HK577020', 'NARCOTICS', 'Rogers Park'),
 ('HL725506', 'BATTERY', 'Lincoln Square'),
 ('HH639427', 'BATTERY', 'Austin'),
 ('HS200939', 'CRIMINAL DAMAGE', 'Austin'),
 ('HT315369', 'ASSAULT', 'East Garfield Park'),
 ('HP716225', 'BATTERY', 'Douglas'),
 ('HL353697', 'BATTERY', 'South Shore'),
 ('HS305355', 'NARCOTICS', 'Brighton Park'),
 ('JA460432', 'BATTERY', 'Ashburn'),
 ('HR585012', 'CRIMINAL TRESPASS', 'Ashburn'),
 ('HH292682', 'PUBLIC PEACE VIOLATION', None),
 ('G635735', 'PUBLIC PEACE VIOLATION', None)]

In [48]:
%%sql
CREATE OR REPLACE VIEW SCHOOL_INFO_VIEW (SCHOOL_NAME, SAFETY_RATING, FAMILY_RATING, ENVIRONMENT_RATING,
                                         INSTRUCTION_RATING, LEADERS_RATING, TEACHERS_RATING)
AS SELECT NAME_OF_SCHOOL, SAFETY_ICON, FAMILY_INVOLVEMENT_ICON, ENVIRONMENT_ICON,
INSTRUCTION_ICON, LEADERS_ICON, TEACHERS_ICON FROM PUBLIC_SCHOOLS

 * ibm_db_sa://cqp94711:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
Done.

[]

In [49]:
%%sql
SELECT SCHOOL_NAME, LEADERS_RATING FROM SCHOOL_INFO_VIEW LIMIT 5

 * ibm_db_sa://cqp94711:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
Done.

[('Abraham Lincoln Elementary School', 'Weak'),
 ('Adam Clayton Powell Paideia Community Academy Elementary School', 'Weak'),
 ('Adlai E Stevenson Elementary School', 'Weak'),
 ('Agustin Lara Elementary Academy', 'Weak'),
 ('Air Force Academy High School', 'Weak')]

In [51]:
%%sql
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE (IN IN_SCHOOL_ID INTEGER, IN IN_LEADERS_SCORE INTEGER)

LANGUAGE SQL
MODIFIES SQL DATA

BEGIN
    
    UPDATE PUBLIC_SCHOOLS
    SET LEADERS_SCORE = IN_LEADERS_SCORE
    WHERE SCHOOL_ID = IN_SCHOOL_ID;
    
    IF IN_LEADERS_SCORE BETWEEN 80 AND 99 THEN
        UPDATE PUBLIC_SCHOOLS
        SET LEADERS_ICON = 'Very strong'
        WHERE SCHOOL_ID = IN_SCHOOL_ID;
        
    ELSEIF IN_LEADERS_SCORE BETWEEN 60 AND 79 THEN
        UPDATE PUBLIC_SCHOOLS
        SET LEADERS_ICON = 'Strong'
        WHERE SCHOOL_ID = IN_SCHOOL_ID;
        
    ELSEIF IN_LEADERS_SCORE BETWEEN 40 AND 59 THEN
        UPDATE PUBLIC_SCHOOLS
        SET LEADERS_ICON = 'Average'
        WHERE SCHOOL_ID = IN_SCHOOL_ID;
        
    ELSEIF IN_LEADERS_SCORE BETWEEN 20 AND 39 THEN
        UPDATE PUBLIC_SCHOOLS
        SET LEADERS_ICON = 'Weak'
        WHERE SCHOOL_ID = IN_SCHOOL_ID;
        
    ELSEIF IN_LEADERS_SCORE BETWEEN 0 AND 19 THEN
        UPDATE PUBLIC_SCHOOLS
        SET LEADERS_ICON = 'Very weak'
        WHERE SCHOOL_ID = IN_SCHOOL_ID;
        
    END IF;
END

 * ibm_db_sa://cqp94711:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
Done.

[]

In [52]:
%sql SELECT SCHOOL_ID, LEADERS_SCORE, LEADERS_ICON FROM PUBLIC_SCHOOLS LIMIT 1

 * ibm_db_sa://cqp94711:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
Done.

[(610038, '38', 'Weak')]

In [53]:
%sql CALL UPDATE_LEADERS_SCORE (610038, 50)

 * ibm_db_sa://cqp94711:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
Done.

[]

In [54]:
%sql SELECT SCHOOL_ID, LEADERS_SCORE, LEADERS_ICON FROM PUBLIC_SCHOOLS LIMIT 1

 * ibm_db_sa://cqp94711:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
Done.

[(610038, '50', 'Average')]

In [56]:
%%sql
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE (IN IN_SCHOOL_ID INTEGER, IN IN_LEADERS_SCORE INTEGER)
LANGUAGE SQL
MODIFIES SQL DATA
BEGIN  
    UPDATE PUBLIC_SCHOOLS
    SET LEADERS_SCORE = IN_LEADERS_SCORE
    WHERE SCHOOL_ID = IN_SCHOOL_ID;
    IF IN_LEADERS_SCORE BETWEEN 80 AND 99 THEN
        UPDATE PUBLIC_SCHOOLS
        SET LEADERS_ICON = 'Very strong'
        WHERE SCHOOL_ID = IN_SCHOOL_ID;
    ELSEIF IN_LEADERS_SCORE BETWEEN 60 AND 79 THEN
        UPDATE PUBLIC_SCHOOLS
        SET LEADERS_ICON = 'Strong'
        WHERE SCHOOL_ID = IN_SCHOOL_ID;
    ELSEIF IN_LEADERS_SCORE BETWEEN 40 AND 59 THEN
        UPDATE PUBLIC_SCHOOLS
        SET LEADERS_ICON = 'Average'
        WHERE SCHOOL_ID = IN_SCHOOL_ID;
    ELSEIF IN_LEADERS_SCORE BETWEEN 20 AND 39 THEN
        UPDATE PUBLIC_SCHOOLS
        SET LEADERS_ICON = 'Weak'
        WHERE SCHOOL_ID = IN_SCHOOL_ID;
    ELSEIF IN_LEADERS_SCORE BETWEEN 0 AND 19 THEN
        UPDATE PUBLIC_SCHOOLS
        SET LEADERS_ICON = 'Very weak'
        WHERE SCHOOL_ID = IN_SCHOOL_ID;
    ELSE
        ROLLBACK WORK;
    END IF;
    COMMIT WORK;
END

 * ibm_db_sa://cqp94711:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
Done.

[]

In [57]:
%sql SELECT SCHOOL_ID, LEADERS_SCORE, LEADERS_ICON FROM PUBLIC_SCHOOLS LIMIT 1

 * ibm_db_sa://cqp94711:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
Done.

[(610038, '50', 'Average')]

In [58]:
%sql CALL UPDATE_LEADERS_SCORE (610038, 38)

 * ibm_db_sa://cqp94711:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
Done.

[]

In [59]:
%sql SELECT SCHOOL_ID, LEADERS_SCORE, LEADERS_ICON FROM PUBLIC_SCHOOLS LIMIT 1

 * ibm_db_sa://cqp94711:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
Done.

[(610038, '38', 'Weak')]

In [60]:
%sql CALL UPDATE_LEADERS_SCORE (610038, 101)

 * ibm_db_sa://cqp94711:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
Done.

[]

In [61]:
%sql SELECT SCHOOL_ID, LEADERS_SCORE, LEADERS_ICON FROM PUBLIC_SCHOOLS LIMIT 1

 * ibm_db_sa://cqp94711:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
Done.

[(610038, '38', 'Weak')]